.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(69, 75, 84);
}
    .footer-top-right{
        display: inline-block;
        width:100%;
        grid-column-start: 9;
        grid-column-end: 13;
       text-align: right;
    }
        .footer-top-header{
            font-weight: 500;
            letter-spacing: 0.1px;
            margin-bottom: 7px;
        }
        .apps{
            display: inline-block;
            width:100%;
            margin:0;
        }
            .app{
                display: inline-block;
                width:50%;
                float:left;
            }
            .app  img {
                display: inline-block;
                object-fit: contain;
                object-position: center;
                width: 100%;
            }
            .footer-phone-number{
                cursor: pointer;
                font-size: 26px;
                letter-spacing: 0.4px;
                margin-bottom: 20px;
                margin-top:15px;
            }
                .footer-phone-number .description{
                    font-size: 16px;
                    padding: 4px 0px 3px;
                    text-transform: lowercase;
                    color: rgb(255, 255, 255);
                }
                .footer-phone-number a{
                    color: rgb(255, 255, 255);
                }
            .footer-phone-mail{
                
            }
                .link-footer{
                    opacity: 0.7;
                    line-height: 1.2;
                    margin-bottom: 9px;
                    white-space: normal;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 16px;
                }
                .link-footer:hover{
                    opacity: 1;
                }
    .footer-middle{
        margin-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .footer-bootom{
        display:inline-block;
        width: 100%;
    }
        .copyright{
            display:inline-block;
            width: 17%;
            float: left;
            margin-right: 16px;
            margin-top: 15px;
            margin-bottom: 13px;
            opacity: 0.7;
        }
        .copyright > span{ 
           font-size:20px;
        }
        .footer-bottom-link-left{
            display:inline-block;
            width: 15%;
            float: left;
            margin-right: 16px;
            margin-top: 15px;
            margin-bottom: 13px;
            font-weight: 400;
            opacity: 0.7;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }
        .footer-bottom-links-middle{
            display:inline-block;
            width: 40%;
            float: left;
            margin-right: 16px;
            margin-top: 15px;
            margin-bottom: 13px;
            font-weight: 400;
            opacity: 0.7;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }
        .footer-bottom-link-right{
            display:inline-block;
            width: 5%;
            float: right;
            color: rgb(255, 255, 255);
            cursor: pointer;
            background-color: rgba(196, 196, 196, 0.2);
            padding: 13px;
            font-size:26px;
            font-weight: 400;
            border-radius: 10px;
        }