 /* header top  */
 #header > .row{
     position:relative;
 }
 .logo > img{
        display: inline-block;
        width: 100%;
    }
.delivery-city{
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 7px;
    line-height: 1.2;
    font-weight: 500;
}
    .delivery-time{
        /* position: relative; */
        margin-top: 1px;
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        z-index: 2;
    }
        .delivery-time > .dot{
            display: inline-block;
            width: 3px;
            height: 3px;
            background-color: black;
            margin: 3px 6px;
            margin-top: 7px;
            border-radius: 3px;
        }
        .fa.fa-star{
            color: rgb(255, 210, 0);
            margin: 2px 5px;
        }
        /* with js change visibility on hover */
    .delivery-time-hover{
        visibility: hidden;
        display: inline-block;
        position: absolute;
        width: 450px;
        float: left;
        padding: 20px;
        border-radius: 15px;
        color: rgb(255, 255, 255);
    }
        .triangle{
            position:absolute;
            width: 0;
            height: 0;
            top: 43px;
            right:85px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 11px solid rgb(69, 75, 84);
        }    
        .hidden-row{
            display: inline-block;
            float: left;
            width: 100%;
            position: absolute;
            top: 53px;
            right:-136px;
            background-color: rgb(69, 75, 84);
            padding: 20px;
            border-radius:15px;
        }
            .hidden-delivery-left,
            .hidden-delivery-right{
                display: inline-block;
                width: 50%;
                float: left;
            }
            .hidden-delivery-bottom{
                display: inline-block;
                width: 100%;
                float: left;
            }
                .hidden-header{
                    display: inline-block;
                    width: 100%;
                    float: left;
                    color:white;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 8px 0px;
                }
                .orange{
                    color: rgb(255, 210, 0);
                    margin-right: 20px;
                }
                .hidden-text,
                .hidden-subheader{
                    display: inline-block;
                    float: left;
                    width: 100%;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    color: rgb(115, 121, 140);
                    font-weight: 400;
                    margin: 0px;
                }
                .hidden-subheader{
                    color:white;
                }

    .order-title{
        padding: 4px 0px 3px;
        color: rgb(153, 153, 153);
        font-size: 15px;
        line-height: 1;
        font-weight: 500;
    }
    .order-number{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
    }
        .order-number > a{
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
    .sign-in{
        grid-column-start: 12;
        grid-column-end:13;
        float: right;
        font-size: 14px;
        font-weight: 500;
       
    }
        .btn-sign-in{
            display: inline-block;
            margin-left: 25px;
            margin-top: 10px;
            padding: 10px 15px;
            border-radius: 20px;
            height: 32px;
            font-size: 14px;
            line-height: 16px;
            color: rgb(92, 99, 112);
            background-color: rgb(243, 243, 247);
        }
        .btn-sign-in:hover{
            color: rgb(0, 0, 0);  
        }
/* header bottom */
#navigation{
    /* position: fixed;
    top: 0;
    width:100%; */
}
.scroll {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    transition: all 0.5s;
}
.navigation{
    display: inline-block;
    width: 1200px;
}
    .navigation-links{
        display: inline-block;
        width: 75%;
        float:left;
    }
        .navigation-links a{
            display: inline-block;
            font-weight: 500;
            color: black;
            font-size: 14px;
            /* line-height: 1; */
            padding: 22px 0px;
            transition: color 0.25s ease 0s, padding 0.25s ease 0s;
            margin-left: 20px;
        }
        .navigation-links a:first-of-type{
            margin-left: 0;
        }
        .navigation-links a:hover{
            color:rgb(209, 87, 0);
        }
    .navigation-btn{
        display: inline-block;
        width: 25%;
        float:right;
        text-align: right;
        margin-top:14px;
        
    }
        .navigation-btn > a {
            display: inline-block;
            height: 40px;
            font-size: 17px;
            line-height: 24px;
            padding: 10px 20px;
            background-color: rgb(255, 105, 0);
            color: rgb(255, 255, 255);
            border-radius: 25px;
            font-weight: 500; 
        }
@media (max-width: 1300px) {
    .navigation{
        width: 1000px;
    }
}
@media (max-width: 1100px) {
    .navigation{
        width:1fr;
    }
}
        